* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}
.header {
    background-image: url('../images/12.jpg');
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    padding-bottom: 1em;
    width: 100vw;
}
.header-img img{
    width: 33%;
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.3);
    border-radius: 20px;
}
.header-img img:hover{
    transform: scale(1.05);
}
.header-info{
    float: right;
    padding-left: 50px;
    width: 67%;
    margin-top: 60px;
    color:white;
    padding-right: 30px;
}
.header-class h3{
    font-weight: bold;
    font-size: 18px;
    font-variant: small-caps;
}
.title{
    padding-top: 10px;
    font-size: 36px;
}
.title span{
    color: #efbbff;
}
.intro{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
}
.btn{
    border: none;
    padding: 15px;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #d896ff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.3);
}
.btn:hover{
    transform: scale(1.03);
}
.description {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    background-color: white;
}
.testimonials {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #660066;
}

.testimonials-text {
    float: left;
    width: 67%;
    text-align: justify;
    color: white;
}

.testimonial {
    margin-bottom: 10px;
    padding-right: 70px;
}
.testimonials-image img{
    float: right;
    width: 33%;
    margin-top: 50px;
    border-radius: 15px;
}
.product-versions-title {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 36px;
    text-align: center;
    color: #800080;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 10px;
}
.grid-item{
    background-color: #efbbff;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0,0,0,0.3);
    border-radius: 20px;
    padding-bottom: 15px;
}
.grid-item:hover{
    transform: scale(1.03);
}
.grid-item img{
    padding: 15px;
    display: block;
    width: 100%;
}
.grid-item .btn{
    font-size: 12px;
    padding: 8px;
    background-color: #660066;
}
.product-versions {
    padding: 1em 0;
    background-color: #660066;
    box-shadow: 0 4px 8px rgb(0,0,0,0.3);
}

.product-version {
    float: left;
    width: 33.33%;
    border: 1px solid gray;
    text-align: center;
    background-color: white;
}

.version-item {
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 20px 0;
    font-size: 18px;
}

.version-item:last-child {
     border-bottom: 0;
}

.version-item .btn{
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    background-color: #660066;
}

.version-title {
    padding: .75em 0;
    font-size: 1.5em;
}

.version-price {
    padding: .75em 0;
    font-size: 2em;
    background-color: lightgray;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: lightgray;
}
.footer-follow{
    margin-bottom: 20px;
    font-size: 20px;
}
.footer-follow span{
    font-weight: bold;
    color: #660066;
}
.social-link img{
    max-width: 30px;
}
.footer-links {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
}

.footer-link {
    margin: 0 20px;
    text-decoration: none;
    color: #660066;
    font-weight: bold;
    padding: 10px;
}
.footer-link:hover{
    background-color: #660066;
    color: white;
    border-radius: 15px;
}
.copyright {
    font-style: italic;
    font-size: 16px;
}
